.home-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 3rem;
}

.home-section-title {
    font-size: 3rem;
    color: #D1D1D1;
    margin: 2rem 0 1rem 0;
}