.modal-container {
    margin-top: 0.75rem;
}

.modal-title {
    color: #212121;
    display: flex;
    justify-content: center;
    padding-bottom: 0.75rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #D98425;
    padding: 1rem;
    border-radius: 12px;
    width: 30rem;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.modal-list {
    flex: 1;
    display: block;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.modal-list li {
    display: flex;
    padding: 0.2rem;
}

.modal-footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-footer-info {
    align-self: center;
}

.modal-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 1;
    overflow-y: auto;
    max-height: 60vh;
    margin: 1rem 0;
}

.modal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 50%;
}

.modal-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.modal-info-list {
    flex-direction: column;
    overflow-y: auto;
}

.modal-list-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.3rem;
}