.input-field-small {
    height: 2rem;
    width: 5rem;
    background: #2C2D30;
}

.input-field-medium {

}

.input-field-large {
    height: 2rem;
    width: 16rem;
    margin-top: 0.75rem;
    background-color: #2C2D30;
}

.white-text {
    color: #D1D1D1;
}

.input-field {
    border: none;
    border-radius: 8px;
    outline: none;
    caret-color: #D1D1D1;
    color: #D1D1D1;
    text-align: center;
}

.input-field:focus::placeholder {
    color: transparent;
}

.input-field::placeholder {
    color: #D1D1D1;
    text-align: center;
}