.filter-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
}

.filter-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #D1D1D1;
    margin-bottom: 1rem;
}

.price-filter-container {
    display: flex;
    flex-direction: row;
    height: 5rem;
    background: #212024;
    border-radius: 8px;
    margin-left: 2rem;
    padding-inline: 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.date-filter-container {
    display: flex;
    flex-direction: column;
    background: #212024;
    border-radius: 8px;
    margin-left: 2rem;
    padding: 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.price-filter {
    color: #D1D1D1;
    display: flex;
    flex-direction: column;
}

.price-filter-title {
    margin-bottom: 0.2rem;
}

.filter-container-title {
    display: flex;
    color: #D1D1D1;
}

